
<div class="container">
  <header class="jumbotron">
    Username:
    <input type="text" name="username" id="username" [(ngModel)]="username" [value]="username" placeholder="Username"
class="form-control">

Password:
<input type="password" name="password" id="password" [(ngModel)]="password" [value]="password" placeholder="Password"
class="form-control">
<button class="btn" (click)="login()">Log In</button>

  </header>
</div>

<div class="container">
  <header class="jumbotron">

  </header>
</div>
