<!-- <p>home works!</p>
<p> Balance </p>
<p> SGD 585.00 </p>
<p>Account Number</p>
<p>100-2-123456</p> -->


<div class="container">
<mat-card>
  <mat-card-title>Balance</mat-card-title>
  <mat-card-subtitle>SGD 585.00</mat-card-subtitle>
  <mat-card-content>
    <p>Account Number</p>
    <p>100-2-123456</p>
  </mat-card-content>

</mat-card>

</div>
<div class="container">

<h2> Transaction History</h2>
<p>11 Dec</p>
    <mat-card>
      <mat-card-title>John</mat-card-title>
      <mat-card-subtitle>SGD 25.00</mat-card-subtitle>
    </mat-card>
<p>8 Dec</p>
    <mat-card>
      <mat-card-title>Sally</mat-card-title>
      <mat-card-subtitle>SGD 45.50</mat-card-subtitle>
    </mat-card>
    
</div>